* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e0e8ee;
  --secondary-color: #ecf0f3;
  --black-color: #142954;
  --gray-color: #747576;
  --violet-color: #7966e4;
  --mulish-font: "Mulish", sans-serif;
}

body {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  font-family: var(--mulish-font);
}

nav {
  height: 80px;
  /* background-color: #fff; */
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px #bebebe;
}

.left-side,
.right-side {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.logo {
  height: 70%;
}

.logo img {
  height: 100%;
}

.title {
  margin-left: 8px;
  font-weight: 900;
  font-size: 1.3rem;
}

.title span {
  color: var(--violet-color);
}

.right-side {
  display: flex;
  justify-content: end;
}

.user-avatar {
  position: relative;
  cursor: pointer;
}

.user-avatar,
.user-avatar img {
  height: 100%;
}

.greetings {
  position: absolute;
  right: 0;
  top: 100%;
  width: 220px;
  padding: 8px 12px;
  border-radius: 10px;
  background: #dfdede;
  box-shadow: 20px 20px 50px #bebebe, -5px -5px 5px #ffffff;
  display: none;
}

.greetings .greetings-title {
  font-weight: 800;
  font-size: 1.05rem;
}

.greetings .greetings-subtitle {
  font-size: 0.9rem;
  margin-top: 2px;
  color: var(--gray-color);
}

.user-avatar:hover .greetings {
  display: block;
}

@keyframes showAnim {
  0% {
    display: none;
  }

  100% {
    display: block;
  }
}

.search-task {
  display: none;
}

.add-task-btn {
  background-color: var(--violet-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #cdc6c6, -4px -4px 10px #e7e4e4;
  cursor: pointer;
}

/* main part design start  */
main {
  display: flex;
  flex-direction: column;
}

aside {
  /* width: 25%; */
  /* height: 80vh; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* height: 80vh; */
  margin-top: 15px;
  border-radius: 10px;
  background: #ecf0f3;
  box-shadow: 20px 20px 20px #bebebe, -5px -5px 5px #ffffff;
  padding: 15px;
}

aside div {
  flex: 1 0 120px;
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ecf0f3;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #bcbcbc, -4px -4px 10px #ffffff;
  transition: box-shadow 1s;
  cursor: pointer;
}

aside div:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
    2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

aside div:first-of-type {
  background-color: var(--violet-color);
  font-weight: 900;
  color: #fff;
}

aside div p {
  font-size: 1rem;
  font-weight: 600;
}
aside div span {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}

.tasks-section {
  width: 100%;
  max-height: 80vh;
  margin-top: 15px;
  border-radius: 5px;
  background: #ecf0f3;
  padding: 15px 5px;
  box-shadow: 20px 20px 20px #bebebe, -5px -5px 5px #ffffff;
  overflow-y: auto;
}

.tasks-section::-webkit-scrollbar {
  width: 2px;
}

.tasks-section::-webkit-scrollbar-thumb {
  background-color: #dfdbdb;
}

.tasks-section-title {
  width: fit-content;
  font-size: 1.05rem;
  font-weight: 900;
  margin-bottom: 15px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 20px 20px 20px #bebebe, -5px -5px 5px #ffffff; */
  box-shadow: inset 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff,
    2px 2px 5px #bcbcbc;
}

.tasks {
  margin-top: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.task-card {
  /* flex: 1 0 430px; */
  flex-grow: 1;
  max-width: 430px;
  height: 200px;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  background: #ecf0f3;
  box-shadow: 20px 20px 20px #bebebe, -5px -5px 5px #ffffff;
  cursor: pointer;
}

.task-card div:first-of-type {
  width: 75%;
}
.task-card div:last-of-type {
  width: 25%;
}

.task-title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 8px;
}

.task-type {
  color: var(--gray-color);
  margin-bottom: 8px;
}

.team {
  width: 100%;
}

.team-title {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.team-img {
  display: flex;
  margin-bottom: 15px;
}

.team-img {
  width: 100%;
}

.team-img img {
  min-width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #bebebe, -5px -5px 2px #fffdfd;
}

.team-img img:not(:first-of-type) {
  margin-left: -10px;
}

.more-teammate {
  min-width: 35px;
  height: 35px;
  background-color: var(--violet-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -10px;
  color: #fff;
  box-shadow: 5px 5px 5px #bebebe, -5px -5px 5px #ffffff;
}

.deadline {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--gray-color);
}

.task-card-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-percentage {
  position: relative;
  min-width: 80px;
  height: 80px;
  background: conic-gradient(var(--violet-color) 35deg, #d2cdcd 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-percentage::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  background-color: #f9f5f5;
  border-radius: 50%;
}

.percentage-value {
  font-weight: 800;
  z-index: 8;
}

.add-new-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.add-new-task p {
  font-size: 0.9rem;
  font-weight: 800;
}

.add-icon {
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background-color: var(--violet-color);
  box-shadow: 4px 4px 5px #aaa9a9, -40px -40px 60px #ffffff;
}

/* task modal design start  */

.task-modal-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #26252522;
  z-index: 100;
}

.task-modal {
  /* width: 40%; */
  width: 90%;
  height: 740px;
  background-color: var(--secondary-color);
  box-shadow: 20px 20px 60px #4f4f4f;
  border-radius: 8px;
  padding: 15px;
  overflow-y: auto;
}

.task-modal::-webkit-scrollbar {
  width: 2px;
}

.task-modal::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
}

.close-icon {
  width: fit-content;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 5px #aaa9a9, -4px -4px 4px #d6d4d4;
  cursor: pointer;
}

.close-icon:hover {
  box-shadow: inset 4px 4px 5px #aaa9a9, inset -4px -4px 4px #d6d4d4;
}

.task-modal-body {
  margin-top: 15px;
}

.task-action-name {
  font-weight: 900;
  font-size: 1.4rem;
  color: var(--violet-color);
  margin: 15px 0;
  text-align: center;
}

.task-title-name,
.task-description-title,
.team-name-title,
.deadline-title,
.progress-title {
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

input,
textarea {
  height: 35px;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #cdd3d8;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 900;
}

textarea {
  height: 120px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 2px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--black-color);
}

input[type="number"] {
  font-size: 0.875rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.modal-actions button {
  flex: 1 0 120px;
  padding: 12px;

  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 5px #ddd8d8, -4px -4px 4px #eae6e6;
  transition: all 1s;
}

.modal-actions button:hover {
  scale: 0.9;
}

.cancel-modal {
  background-color: var(--black-color);
}

.delete-task {
  background-color: #f53b57;
}

.create-task {
  background-color: var(--violet-color);
}

@media (min-width: 480px) {
  .right-side {
    gap: 15px;
  }
  .search-task {
    display: block;
    position: relative;
    cursor: pointer;
  }
  #search {
    height: 35px;
    padding: 15px;
    padding-right: 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #e0e0e0;
    box-shadow: inset 4px 4px 10px #cdc6c6, inset -4px -4px 10px #e7e4e4;
  }

  #search::placeholder {
    color: var(--black-color);
  }

  .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: var(--violet-color);
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 60px #4f4f4f, -40px -40px 60px #ffffff;
  }

  .task-card {
    flex: 1 0 430px;
  }
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    justify-content: space-evenly;
  }

  aside {
    width: 25%;
    height: 80vh;
    flex-direction: row;
    align-content: start;
    gap: 20px;
  }

  aside div {
    flex: 1 0 100%;
    height: 50px;
  }

  .tasks-section {
    width: 72%;
  }

  .task-modal {
    width: 40%;
    height: 90%;
  }
}
@media (min-width: 992px) {
}
